In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### Importing Data:

In [2]:
data = pd.read_csv('car_age_price.csv')

#### Checking Basic Details:

In [3]:
data.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [4]:
data.isna().sum()

Year     0
Price    0
dtype: int64

#### Label Encoding:

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
data['Year'] = le.fit_transform(data['Year'])

In [8]:
data.head()

   Year   Price
0     5  465000
1     6  755000
2     6  700000
3     5  465000
4     5  465000

#### Checking Correlation:

In [9]:
data.corr()

           Year     Price
Year   1.000000  0.776302
Price  0.776302  1.000000

#### Creating Train and Test data:

In [10]:
y =data.drop(['Year'], axis =1)
X =data.drop(['Price'], axis =1)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)

#### Creating Linear Regression Model:

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
model1 = lr.fit(X_train , y_train)

In [16]:
y_pred1 = model1.predict(X_test)

#### Checking MSE and R Squared Value:

In [17]:
from sklearn.metrics import mean_squared_error, r2_score

In [18]:
print('MSE is:',mean_squared_error(y_test, y_pred1))
print('R Squared value is:',r2_score(y_test, y_pred1))

MSE is: 3878767151.0726166
R Squared value is: 0.4347961632109236

#### Creating Lasso Regression model:

In [19]:
from sklearn.linear_model import Lasso

In [20]:
las_reg = Lasso(alpha=1)
model2 = las_reg.fit(X_train, y_train)

In [21]:
y_pred2 = model2.predict(X_test)

#### Checking MSE and R squared Value:

In [22]:
print('MSE is:',mean_squared_error(y_test, y_pred2))
print('R Squared value is:',r2_score(y_test, y_pred2))

MSE is: 3878735896.22223
R Squared value is: 0.4348007175862364

It is inferred that since R squared value of lasso regression is slightly higher, lasso regression is performing slightly better than linear regression in this dataset

#### Predicting Price of Car in 2022

In [23]:
X1 =[9]
X1= pd.DataFrame(X1)

In [24]:
y_pred_2022_linear = model1.predict(X1)
y_pred_2022_lasso = model2.predict(X1)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

In [25]:
print('possible price of a 2022 model car predicted using linear regression:',y_pred_2022_linear)
print('possible price of a 2022 model car predicted using lasso regression:',y_pred_2022_lasso)

possible price of a 2022 model car predicted using linear regression: [[740160.11937765]]
possible price of a 2022 model car predicted using lasso regression: [740157.95700141]